/* DEVELOPER: Azumi castaneda, IS117-005, Fall 2024 */

.navbar {
   border-bottom: 2px solid #bd8aa4 !important; 
}


body, html {
    background-color: #bfa1b6; 
    margin: 0; 
    font-family: Arial, sans-serif;
    height: 100%; 
    min-height: 100%; 
}


.content {
    padding: 30px 15px;
    margin-top: 40px; 
    margin-bottom: 120px; 
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.85rem;
    border-top: 2px solid #bd8aa4;
}


.card {
    border-radius: 15px; 
    background-color: #bfa1b6;;
    padding: 20px;
    color: white; 
    border: 2px solid #bd8aa4; 
}

    .content {
        padding: 20px; 
        margin-bottom: 100px; 
    }

    .footer {
        font-size: 0.75rem;
        padding: 6px; 
    }
.carousel-inner {
    width: 100%;   /* Ensures the carousel items stretch across */
}

.carousel-item {
    height: 500px;  /* Adjust as needed */
    width: 100%;    /* Ensures the carousel items take up full width */
}

        
}
