/* DEVELOPER: Azumi Castaneda, IS117-005, Fall 2024 */
.navbar {
    background-color: #FFa9d6 !important; 
    padding: 1rem 1.5rem; 
    height: 70px;
    align-items: center; 

}
body, html {
    background-color: #bfa1b6; 
    margin: 0; 
    font-family: Arial, sans-serif;
    height: 100%; 
    min-height: 100%; 
}
.content {
    padding: 30px 15px;
    margin-top: 40px; 
    margin-bottom: 150px; 
}

.footer {
    position: fixed;
    background-color: #333;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.85rem;
}

.container {
    padding-bottom: 15px; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    height: 100%;
    width: 100%; /* Cards take up full width of their column */
    flex-direction: column;
    margin: 0px; /* Space between cards */
    border-radius: 10px; /* Optional: Rounded corners */
}

.card-body {
    margin: 0;
    flex-grow: 1;
}

.card img {
    width: 100%; /* Make images take full width of their parent container */
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-4 {
    padding: 10px; /* Add some padding between cards */
}

/* Responsive behavior: Stack cards on small screens */
@media (max-width: 768px) {
    .col-md-4 {
        width: 100%; 
    }
}
